<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.spokanelibrary.spl-mobile"
        versionCode = "10" 
        version     = "1.0.0" >

    <gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />

    <preference name="phonegap-version" value="3.3.0" />

    <preference name="StatusBarOverlaysWebView" value="false" />

    <name>SPL Mobile</name>

    <description>
        Spokane Public Library 
    </description>

    <author href="https://github.com/seangirard" email="sgirard@spokanelibrary.org">
        Sean Girard 
    </author>

    <access origin="*" />

</widget>